body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
  background: #7546b4;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.navbar-brand .img-fluid {
  height: 2rem;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/7c5d4052562925.5914ab5c999a6.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-img-1 {
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/a0a95a46323105.Y3JvcCwxMjAyLDk0MSwwLDEzMA.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-img-2 {
  background-image: url('ttps://mir-s3-cdn-cf.behance.net/projects/202/a63c0331636695.Y3JvcCw0OTQsMzg2LDExNywxNzY.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #51e472;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description .btn {
  border: 1px solid #7546b4;
  background: #7546b4;
  border-radius: 0;
  color: #fff;
}

.description .btn:hover {
  border: 1px solid #51e472;
  background: #51e472;
  color: #7546b4;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #773ec3;
  border: 1px solid #773ec3;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #51e472;
  border: 1px solid #51e472;
  color: #7546b4;
}

.page-footer {
  background-color: #773ec3;
  color: #ccc;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #51e472;
  padding: 40px 0;
}